<!DOCTYPE html>
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <style>
        .goal {
            color: white;
        }
        .goal:hover {
            background-color: #007bff;
            color: white;
            text-decoration: none !important;
        }
    </style>
    <title>Goals</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container p-5 my-5 bg-dark text-white">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-8">
                    <p class="h2">Goals</p>
                </div>
                <div class="col-4">
                    <a class="btn btn-primary float-right" href="/goals/create">Create a Goal</a>
                </div>
                <hr width="100%" align="left">
            </div>
            <div class="row font-weight-bold">
                <div class="col-4">
                    <p>Goal</p>
                </div>
                <div class="col-6">
                    <p>Description</p>
                </div>
                <div class="col-2" >
                    <p>Due Date</p>
                </div>
                <hr width="100%" align="left">
            </div>

            <div class="row" th:each="goal: ${goals}">
                <div class="col-12">
                    <a th:href="'/goals/' + ${goal.id}" class="text-decoration-none">
                        <div class="row goal rounded">
                            <div class="col-4">
                                <p class="my-3" th:text="${goal.goal}"></p>
                            </div>
                            <div class="col-6 text-wrap-ellipse">
                                <p class="my-3" th:text="${goal.description}"></p>
                            </div>
                            <div class="col-2">
                                <p class="my-3" th:text="${goal.dueDateFormatted}"></p>
                            </div>
                        </div>
                    </a>
                </div>
                <hr width="100%" align="left">
            </div>
        </div>
    </div>
</div>
</body>