<!DOCTYPE html>
<head>
	<!-- CSS only -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<!-- JS, Popper.js, and jQuery -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<title>Goals</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5" th:fragment="header">
		<a class="navbar-brand" href="/">Goal Tracker</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
	
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">

			<div class = "btn-group">
				<div class="dropdown">
					<button class="btn btn-secondary btn-sm dropdown-toggle mr-2" type="button" id="goalsMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Goals
					</button>
					<div class="dropdown-menu" aria-labelledby="goalsMenuButton">
						<a class="dropdown-item" href="/create">Create</a>
						<a class="dropdown-item" href="#">Modify</a>
					</div>
				</div>

				<div class="dropdown">
					<button class="btn btn-secondary btn-sm dropdown-toggle mr-2" type="button" id="tagsMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Tags
					</button>
					<div class="dropdown-menu" aria-labelledby="tagsMenuButton">
						<a class="dropdown-item" href="/tags/create">Create</a>
						<a class="dropdown-item" href="#">Modify</a>
					</div>
				</div>
			</div>
		</ul>
		</div>
	</nav>
</body>
</html>